*{
    font-family: 'Roboto', serif;
    margin: 0;
    padding: 0;
}
.item1 {
    grid-area: header;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 10px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Alfa Slab One', cursive;
}
.item2 {
    grid-area: user;
    border-bottom: 1px solid black;
    text-align: center;
}
.item3 { grid-area: nav;
text-align: center; }
.item4 { grid-area: main; }
.item5 { grid-area: novice; }
.item6 { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
    'header header header user user user'
    'nav nav nav nav nav nav'
    'main main main main novice novice'
    'footer footer footer footer footer footer';
    font-size: 30px;
}

.grid-container > div{
    background-color: #1DD300;
}
li{
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    margin:5px;
    background-image: linear-gradient(white, #95F695);
}
